{% extends "auth/base.html" %}
{% block extends %}
    <script src="{{ url_for('themes.static',path='js/function.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('themes.static',path='css/auth/main.css') }}">
{% endblock %}
<!-- ^body -->
{% block body%}

<div class="container-sm p-5" id="login-container" data-dark-change="color;back">
    <h2>
        Hi!
    </h2>
    <P>欢迎使用 <kbd> QickStudy </kbd></P>
    <div class="btn modeButton change">
        <img src="{{ url_for('themes.static',path='img/sun.png') }}" alt="">
    </div>
    <form id="login-form" class="was-validated formarea">
        <div class="mb-3 mt-3 item">
            <label for="uname" class="form-label">账号</label>
            <input type="text" class="form-control" id="uname" placeholder="请输入用户名或邮箱" name="username" required>
            <div class="valid-feedback">有效的。</div>
            <div class="invalid-feedback">请填写此字段。</div>
        </div>
        <div class="mb-3 item">
            <label for="pwd" class="form-label">密码</label>
            <input type="password" class="form-control" id="pwd" placeholder="请输入密码" name="pwd" required>
            <div class="valid-feedback">有效的。</div>
            <div class="invalid-feedback">请填写此字段。</div>
        </div>
        <div class="mb-3 item d-flex justify-content-between vCode">
            <div class="iitem">
                <label for="code" class="form-label">验证码</label>
                <input type="text" class="form-control" id="code" placeholder="" name="code" required>
                <div class="valid-feedback">有效的。</div>
                <div class="invalid-feedback">请填写此字段。</div>
            </div>
            <div class="vCodeImg">
                <img src="{{ url_for('server.getVCodeImg') }}" style="" alt="">
            </div>     
        </div>
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
        <input type="hidden" value="{{ type }}" name="type">
        <input type="hidden" value="{{ token }}" name="token">
        <button id="login_button" type="submit" class="btn btn-primary mt-auto">登录
            <!-- <span class="spinner-border spinner-border-sm"></span> -->
        </button>
    </form>
    <div class="extends d-flex justify-content-between">
        <!-- <a href="{{ url_for('auth.register') }}">注册</a> -->
        <a href="{{ url_for('auth.register') }}">
            <div class="btn text-secondary">
                注册
            </div>
        </a>
        <a href="{{ url_for('auth.reset') }}">
            <div class="btn text-secondary">
                忘记密码
            </div>
        </a>
    </div>
</div>

{% endblock %}

<!-- ^script -->
{% block script %}
<script>
    var button = $('#login_button');
    var form = $('#login-form');
    form.submit((e)=>{
        e.preventDefault();
    })
    var reloadVerify = function(){
        $.ajax({
            url : "{{ url_for('server.reload') }}",
            type: 'get',
            success: (e) =>{
                let img = $('.formarea .vCode .vCodeImg img')[0];
                img.src = `${img.src.split('?')[0]}?time=${new Date().getTime()}`;
            }
        })
    }
    $('.formarea .vCode .vCodeImg img').click(function(){
        reloadVerify();
    })
    button.click(function(){
        let signal = document.getElementsByTagName("form")[0].checkValidity();
        if(!signal) return false;
        
        button.append('<span class="spinner-border spinner-border-sm"></span>');
        button.attr('disabled','1');
        $.ajax({
            url: "{{ url_for('server.login') }}",
            type:'post',
            data: form.serialize(),
            success:(e)=>{
                if(e['status'] == 'success'){
                    swal("登录成功","点击跳转", "success").then(()=>{
                        let router = e['route']
                        ||
                        new URL(window.location.href).searchParams.get('next');
                        window.location = router;
                    })
                }else{
                    swal("登录失败",e['message'], "error");
                    reloadVerify();
                }
            },
            error:(e)=>{
                swal("登录失败","网络错误", "error");
            },
            complete:(e)=>{
                button.children('span').remove();
                button.removeAttr('disabled');
            }
        })
    })
    
</script>
{% endblock %}
