{% extends "themes/base.html" %}
{% block extends %}
    <script src="{{ url_for('themes.static',path='js/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('themes.static',path='js/function.js') }}"></script>
{% endblock %}
<!-- ^body -->
{% block body%}

<div class="container-sm p-5" id="login-container" data-dark-change="color;back">
    <h1>
        Hi!
    </h1>
    <P>欢迎注册 <kbd> QickStudy </kbd></P>
    <div class="btn modeButton change">
        <img src="{{ url_for('themes.static',path='img/sun.png') }}" alt="">
    </div>
    <form id="login-form" class="was-validated">
        <div class="mb-2">
            <label for="email" class="form-label">邮箱：</label>
            <input type="text" class="form-control" id="email" placeholder="请输入邮箱" name="email" required pattern="^\w+@\w+\.[a-z]{1,}$">
            <div class="valid-feedback">有效的。</div>
            <div class="invalid-feedback">请输入正确格式的邮箱</div>
        </div>
        <div class="mb-2">
            <label for="pwd" class="form-label">密码：</label>
            <input type="password" class="form-control" id="pwd" placeholder="请输入密码" name="pwd" required pattern="^(?=.*[A-Za-z])(?=.*\d).{6,}$">
            <div class="valid-feedback">有效的。</div>
            <div class="invalid-feedback">密码中应至少包括字母和数字且长度高于6位。</div>
        </div>
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
        <button id="login_button" type="submit" class="container btn btn-primary mt-auto">
            注册
        </button>
        <div class="toLogin" style="text-align: center;">
            <a href="{{ url_for('auth.login') }}">登录</a>
        </div>
    </form>
</div>

{% endblock %}

<!-- ^style -->
{% block style %}
<style>
    body{
        position: relative;
    }
    #login-container{
        max-width: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: transparent!important;
        box-shadow: 0px 0px 5px #888;
    }
    .modeButton{
        position: absolute;
        right: 0;
        top: 0;
    }
    .hidden{
        display: none!important;
    }
</style>
{% endblock %}

<!-- ^script -->
{% block script %}
<script>
    var button = $('#login_button');
    var form = $('#login-form');
    form.submit((e)=>{
        e.preventDefault();
    })

    button.click(function(){
        let signal = document.getElementsByTagName("form")[0].checkValidity();
        if(!signal) return false;

        button.append('<span class="spinner-border spinner-border-sm"></span>');
        button.attr('disabled','1');
        setTimeout(()=>{
            $.ajax({
                type:'post',
                data: form.serialize(),
                success:(e)=>{
                    if(e['status'] == 1){
                        swal('注册成功',e['info'],'success');
                    }else{
                        swal('注册失败',e['info'],'error');
                    }
                }, 
                error:(e)=>{
                    swal("注册失败","网络错误", "error");
                },
                complete:(e)=>{
                    button.children('span').remove();
                    button.removeAttr('disabled');
                }
            })
        },~~(Math.random()*5)*100);
    })
</script>
{% endblock %}
