{% extends "themes/md.html" %}
{% block extends %}
{% if isself %}
<script src="{{ url_for('themes.static',path='js/auth/userinfo.js') }}"></script>
{% endif %}
<link rel="stylesheet" href="{{ url_for('themes.static',path='css/auth/userinfo.css') }}">
{% endblock %}

{% block title %}
 - {{ user.username }}
{% endblock %}
{% block hscript %}
<script>
    window.t = '';
    {% if isself %}
    window.self = true;
    window.uploadURI = "{{ url_for('server.photoUpload') }}"
    {% else %}
    window.self = false;
    {% endif %}
</script>
{% endblock %}
{% block body%}
<div class="container main">
    <div class="uInfo">
        <div class="in">
            {% if isself%}
            <div class="photo" data-status="normal">
                <div class="position-center">
                    <span class="spinner-border spinner-border-sm"></span>上传中
                </div>                    
                <form id="upload">
                    <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
                    <input class="hidden image" type="file" accept="image/*" name="file" value="">
                </form>
                <picture>
                    <img src="{{ url_for('server.logo',id=user.id) }}" class="rounded" alt="">
                </picture>    
            </div>
            {% else %}
            <div class="photo">
                <picture>
                    <img src="{{ url_for('server.logo',id=user.id) }}" class="rounded" alt="">
                </picture>    
            </div>
            {% endif %}
            <div class="infos">
                <div class="username">
                    {{ user.username }}
                    <span class="split"></span>
                    <span class="id">{{ user.id }}</span>
                </div>
                {% if isself %}
                <div class="permission">
                    {% if user.permission > permission.BASE %}
                    <span class="badge bg-success" title="{{ permission.DESC[user.permission]['desc'] }}" data-bs-toggle="tooltip">
                        {{ permission.DESC[user.permission]['name'] }}
                    </span>
                    {% else %}
                    <span class="badge bg-danger" title="{{ permission.DESC[user.permission]['desc'] }}" data-bs-toggle="tooltip">
                        {{ permission.DESC[user.permission]['name'] }}
                    </span>
                    {% endif %}
                </div>
                {% else %}
                <div class="permission">
                    <span class="badge bg-secondary" title="???" data-bs-toggle="tooltip">
                        ???
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}