{% extends "themes/base.html" %}
{% block extends %}
<script src="{{ url_for('themes.static',path='js/auth/userinfo.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('themes.static',path='css/auth/userinfo.css') }}">
{% endblock %}

{% block title %}
 - {{ user.username }}
{% endblock %}
{% block hscript %}
<script>
    window.uploadURI = "{{ url_for('server.photoUpload') }}"
</script>
{% endblock %}
{% block body%}
<div class="container main">
    <div class="uInfo">
        <div class="in">
            <div class="photo" data-status="normal">
                <div class="position-center">
                    <span class="spinner-border spinner-border-sm"></span>上传中
                </div>                    
                <form id="upload">
                    <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
                    <input class="hidden image" type="file" accept="image/*" name="file" value="">
                </form>
                <picture>
                    <img src="data:image/png;base64,{{ user.logo }}" class="rounded" alt=" ">
                </picture>
                
            </div>
            <div class="infos">
                <div class="username">
                    {{ user.username }}
                    <span class="split"></span>
                    <span class="id">{{ user.id }}</span>
                </div>
                <div class="permission">
                    {% if user.permission > permission.BASE %}
                    <span class="badge bg-success" title="{{ permission.DESC[user.permission]['desc'] }}" data-bs-toggle="tooltip">
                        {{ permission.DESC[user.permission]['name'] }}
                    </span>
                    {% else %}
                    <span class="badge bg-danger" title="{{ permission.DESC[user.permission]['desc'] }}" data-bs-toggle="tooltip">
                        {{ permission.DESC[user.permission]['name'] }}
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}