<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('themes.static',path='js/jquery-3.6.3.min.js') }}"></script>
    <script src="{{ url_for('themes.static',path='js/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('themes.static',path='js/popper.min.js') }}"></script>
    <script src="{{ url_for('themes.static',path='js/bootstrap_5.3/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('themes.static',path='js/style.js') }}"></script>
    <script src="{{ url_for('themes.static',path='js/function.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('themes.static',path='css/bootstrap_5.3/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('themes.static',path='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('themes.static',path='css/main.css') }}">
    <!-- ^icon -->
    <link rel="icon" href="{{ url_for('themes.static',path='img/logo.svg') }}">

    <!-- !extends -->
    {% block extends %}
    {% endblock %}

    <title>
        QickStudy
        {% block title %}
        {% endblock %}
    </title>
<!-- ^ js before loaded -->
{% block hscript %}
{% endblock %}
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <div class="logo">
            <a class="navbar-brand" href=".">
                <img src="{{ url_for('themes.static',path='img/logo.svg') }}" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}" target="_blank">关于</a>
                </li>
            </ul>
            <div class="btn modeButton change d-none d-sm-block">
                <img src="{{ url_for('themes.static',path='img/sun.png') }}" alt="">
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">
                    <img src="{{ url_for('themes.static',path='img/search.png') }}" alt="">
                </button>
            </form>
            {% block navExtends%}
            {% endblock %}
        </div>
    </div>
</nav>

<!-- 导航栏 -->
    {% block body%}
    {% endblock %}
</body>

{% block style %}
{% endblock %}
<!-- ^ without document.onload -->
{% block script %}
{% endblock %}
</html>