*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    font-variant-ligatures: no-common-ligatures;
}
::selection{
    color: #fff;
    background-color: #00000080;
}
*::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #00000080;
    border-radius: 20px;
}
*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: #ccc!important;
}
:root{
    /* light */
    /* --body-background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 60%);
     */
    --body-background: linear-gradient(to bottom, #93a5cf , #000 ,#fff1eb , #ace0f9 );
    --body-background-pos: 100% 100%;
    --font-color: rgb(0, 0, 0);
    --important-font-color: #4183C4;
    --hover-background: #000;
    --border-color: #57585a;
    --scroll-bar-color: #7d8794; 
    --code--back-color: rgba(27, 31, 35, .05);
    --background-color: #fff;
    --block-left-border: #30363d80;
    --block-background-color: #fafafa;
    --table-tr-2-background: #f6f8fa;
}
:root[data-bs-theme="dark"]{
    /* dark */
    --body-background: linear-gradient(to bottom, #93a5cf , #000 ,#fff1eb , #ace0f9 );
    --body-background-pos: 0% 0%;
    --font-color: #adb5bd;
    --important-font-color: #4183C4;
    --hover-background: rgb(141, 154, 161);
    --border-color: #b8b8b8;
    --scroll-bar-color: #7d8794; 
    --code--back-color: rgba(66, 133, 244, .36);
    --background-color: #000;
    --block-left-border: #8391a080;
    --block-background-color: #00000030;
    --table-tr-2-background: #161b22;
}

body{
    width: 100%;
    height: 100vh;
    background-size: 300% 300%; 
    background-image: var(--body-background);
    background-position: var(--body-background-pos);
    background-attachment: fixed !important;
    transition: all .3s ease-out;
}
a{
    text-decoration: none !important;
    color: var(--important-font-color) ;
}

/* h1~h6 */
h1,h2,h3,h4,h5,h6{
    margin: 20px 0px;
}
h1{
    border-bottom: 1px dashed var(--border-color);
}

/* markdown table */
table:not(.hljs-ln){
    max-width: 700px;
    margin: 10px 0px;
}
table:not(.hljs-ln) td,
table:not(.hljs-ln) th
{
    padding: 6px 13px;
    border: 1px solid var(--border-color);
}

table:not(.hljs-ln) tr:nth-child(2n)
{
    background-color: var(--table-tr-2-background);
}
/* markdown table */

table,tbody{
    color: inherit;
    white-space: inherit;
    font-size: inherit;
}
code{
    max-width: 100% !important;
    background-color: var(--code--back-color);
    padding: 0.1em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
    background-size: 20px 20px;
    /* white-space: pre; */
    font-family: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}
pre{
    max-width: 100%;
    min-width: 300px;
    width: 700px;
    white-space: pre;
}
pre code{
    border-radius: 5px;
    padding: .5em;
    white-space: pre;
}
pre code::-webkit-scrollbar{
    height: 5px;
}
pre code::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: var(--scroll-bar-color);
}
blockquote{
    padding: 0px 10px;
    border-radius: 0px 3px 3px 0px;
    border-left: 5px solid var(--block-left-border) !important;
    width: 700px;
    max-width: 100%;
    background-color: var(--block-background-color);
}
.language-math{
    display: inline-block;
    padding: 6px 2px;
    box-sizing: border-box;
    border: 2px dashed transparent;
}
.language-math:hover{
    border: 2px dashed var(--border-color);
}

.hljs-ln-numbers{
    text-align: center;
    color: #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 10px !important;
    white-space: pre;
    display: block;
    margin-right: .2em;
}
.btn img{
    width: 25px;
    height: 25px;
}

.button{
    cursor: pointer;
}

.center{
    width: 100%;
    max-height: calc(100vh - 100px);
    margin: 0 auto;
    overflow: auto;
    margin-top: 20px;
}


.center img{
    max-width: 700px;
    border-radius: 5px;
    cursor: pointer;
}

.rightbottom{
    position: fixed;
    right: 5px;
    bottom: 10px;
    z-index: 100;
}
.rightbottom .btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: var(--background-color); */
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}
.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}