*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
::selection{
    color: #fff;
    background-color: #00000080;
}
*::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #00000080;
    border-radius: 20px;
}
*::-webkit-scrollbar{
    width: 5px;
    background-color: #ccc!important;
}
a{
    text-decoration: none !important;
}
:root{
    /* light */
    /* --body-background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 60%);
     */
    --body-background: linear-gradient(to bottom, #93a5cf , #000 ,#fff1eb , #ace0f9 );
    --body-background-pos: 100% 100%;
    --font-color: rgb(0, 0, 0);
    --hover-background: #000;
    --hover-color: #fff;
    --border-color: #d0d7de;
    --scroll-bar-color: #d1d5da; 
    --code--back-color: rgba(27, 31, 35, .05);
}
:root[data-bs-theme="dark"]{
    /* dark */
    --body-background: linear-gradient(to bottom, #93a5cf , #000 ,#fff1eb , #ace0f9 );
    --body-background-pos: 0% 0%;
    --font-color: rgb(141, 154, 161);
    --hover-background: rgb(141, 154, 161);
    --hover-color: #fff;
    --border-color: #30363d;
    --scroll-bar-color: #d1d5da; 
    --code--back-color: rgba(66, 133, 244, .36);
}
*{
    font-size: 16px;
    line-height: 1.5;
    font-variant-ligatures: no-common-ligatures;
}
body{
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background-image: var(--body-background);
    background-position: var(--body-background-pos);
    background-attachment: fixed !important;
    transition: all .3s ease-out;
}


table{
    color: inherit;
    white-space: inherit;
    font-size: inherit;
 }
 tbody{
    color: inherit;
    white-space: inherit;
    font-size: inherit;
 }
 code{
    /* background-color: rgba(27, 31, 35, .05); */
    background-color: rgba(66, 133, 244, .36);
    padding: 0.1em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
    background-size: 20px 20px;
    white-space: pre;
    font-family: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
 }
 pre{
    white-space: pre;
    font-family: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
 }
 pre code{
    border-radius: 5px;
    padding: .5em;
    white-space: pre;
 }
 pre code::-webkit-scrollbar{
    height: 5px;
 }
 pre code::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: var(--scroll-bar-color);
 }
 .hljs-ln-numbers{
    text-align: center;
    color: #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 10px !important;
    white-space: pre;
    display: block;
    margin-right: .2em;
 }

.rightbottom{
    position: fixed;
    right: 5px;
    bottom: 10px;
}
.rightbottom .collapse{
    text-align: center;
}
.hidden{
    display: none;
}
.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}