body{
    position: relative;
}
#login-container{
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: transparent!important;
    box-shadow: 0px 0px 5px #888;
}
.modeButton{
    position: absolute;
    right: 0;
    top: 0;
}
.hidden{
    display: none!important;
}
.formarea{
    display: flex;
    flex-direction: column;
}
.formarea .item{
    position: relative;
}
.formarea .item .form-label{
    position: absolute;
    left: 1rem;
    top: 7px;
    padding-right: 10px;
    border-right: 1px solid var(--border-color);
}
.formarea .item .form-control{
    padding-left: 4rem;
}
.formarea .form-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.formarea .vCode .iitem .form-control{
    padding-left: 5rem;
}
.formarea .vCode .vCodeImg img{
    cursor: pointer;
}
.formarea .form-button .btn{
    width: 40%;
}
.extends{
    margin-top: 10px;
}
.extends .btn:hover{
    border: 1px solid var(--border-color);
}