.main{
    /* border: 1px solid #000; */
}
.main img{
    width: 100% !important;
    height: 100% !important;
}
.main .photo[data-status="normal"] .position-center{
    display: none;
}
.main .photo[data-status="waiting"] .position-center{
    position: absolute;
    color: white;
    background-color: #00000080;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.main .split{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 5px;
    font-weight: normal;
    background-color: var(--border-color);
    display: inline-block;
}
.main .uInfo .in{
    width: 100%;
    padding: 0 5px;
    display: flex;
}
.main .uInfo .in .photo{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}
.main .uInfo .in .photo[data-status="normal"]::before{
    content: '更换头像';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    display: none;
}
.main .uInfo .in .photo[data-status="normal"]:hover::before{
    display: flex;
}
.main .uInfo .in .infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 5px;
    margin-left: 20px;
}
.main .uInfo .in .infos .username{
    display: flex;
    align-items: center;
    font-weight: 1000;
    color: var(--font-color) !important;
}
.main .uInfo .in .infos .username .id{
    font-weight: normal;
    color: var(--font-color);
}
.main .uInfo .in .infos .permission{
    color: var(--font-color);
    user-select: none;
    cursor: pointer;
}