*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-variant-ligatures: no-common-ligatures;
}
::selection{
    color: #fff;
    background-color: #00000080;
}
*::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #00000080;
    border-radius: 20px;
}
*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: #ccc!important;
}
:root{
    /* light */
    /* --body-background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 60%);
     */
    --body-background: linear-gradient(to bottom, #93a5cf , #000 ,#fff1eb , #ace0f9 );
    --body-background-pos: 100% 100%;
    --font-color: rgb(0, 0, 0);
    --important-font-color: #4183C4;
    --hover-background: #000;
    --border-color: #ccc;
    --scroll-bar-color: #7d8794; 
    --code--back-color: rgba(27, 31, 35, .05);
    --background-color: #fff;
    --block-left-border: #30363d80;
    --block-background-color: #fafafa;
    --table-tr-2-background: #f6f8fa;
    --btn-hover-background: #ccc;

    --skeleton-color: #eee;
    --skeleton-color-start: #eee;
    --skeleton-color-end: #ddd;
}
:root[data-bs-theme="dark"]{
    /* dark */
    --body-background: linear-gradient(to bottom, #93a5cf , #000 ,#fff1eb , #ace0f9 );
    --body-background-pos: 0% 0%;
    --font-color: #fff;
    --important-font-color: #4183C4;
    --hover-background: rgb(141, 154, 161);
    --border-color: #b8b8b8;
    --scroll-bar-color: #7d8794; 
    --code--back-color: rgba(66, 133, 244, .36);
    --background-color: #000;
    --block-left-border: #8391a080;
    --block-background-color: #00000030;
    --table-tr-2-background: #161b22;
    --btn-hover-background: #0b0d0f;

    --skeleton-color: rgba(255, 255, 255, 0.12);
    --skeleton-color-start: rgba(255, 255, 255, 0.12);
    --skeleton-color-end: rgba(255, 255, 255, 0.18);
}

body{
    width: 100%;
    height: 100vh;
    background-size: 300% 300%; 
    background-image: var(--body-background);
    background-position: var(--body-background-pos);
    background-attachment: fixed !important;
    transition: all .3s ease-out;
}

a{
    text-decoration: none !important;
    color: var(--important-font-color) ;
}
.svg{
    width: 25px;
    height: 25px;
    fill: var(--font-color);
}
.svg svg{
    width: inherit ;
    height: inherit;
    display: block;
    fill: inherit !important;
}
.search svg{
    fill: white !important;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 35px;
}

.btn img{
    width: 25px;
    height: 25px;
}

.button{
    cursor: pointer;
}
.rightbottom{
    position: fixed;
    right: 5px;
    bottom: 10px;
    z-index: 100;
}
.rightbottom .btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: var(--background-color); */
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.line{
    display: block;
    height: 1px;
    width: auto;
    background-color: var(--border-color);
    margin: 2px 0;
}
.hidden{
    display: none;
}
.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noselect{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.no-wrap{
    white-space: nowrap !important;
}

/* status spinner */
.spinner{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.spinner-mute{
    background-color: #ccc;
}
.spinner-green{
    background-color: green;
}
.spinner-red{
    background-color: red;
}
.spinner-yellow{
    background-color: rgb(192, 192, 91);
}
.spinner-primary{
    background-color: rgb(13,110,253);
}
/* status spinner end */

/* Skeleton */
.Skeleton{
    padding: 20px 0;
    background-color: var(--skeleton-color-start);
    border-radius: 5px;
    margin: 10px 0;
    animation: 2s skeleton-loading infinite cubic-bezier(0.36, 0, 0.64, 1);
}
.Skeleton-w-25{
    width: 25%;
}
.Skeleton-w-50{
    width: 50%;
}
.Skeleton-w-75{
    width: 75%;
}
.Skeleton-mm{
    padding: 15px 0;
}
.Skeleton-sm{
    padding: 10px 0;
    margin: 5px 0;
}
@keyframes skeleton-loading {
    0% {
        background: var(--skeleton-color-start);
    }
    40% {
        background: var(--skeleton-color-end);
    }
    80% {
        background: var(--skeleton-color-start);
    }
    100% {
        background: var(--skeleton-color-start);
    }
}

/* Skeleton end */


/* search Style */
@media (max-width: 576px) {
    .navbar .searchForms{
        display: flex;
        width: 100%;
    }
    .navbar .searchForms[data-focus='true']{
        position: static !important;
    }
}
.navbar .navbar-collapse{
    position: relative;
}
.navbar .searchForms{
    display: flex;
}
.navbar .searchForms[data-focus='true']{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.searchForms #globalSearch{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.searchForms .btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}