body{
    height: 100vh;
}
body::-webkit-scrollbar-button{
    display: none;
}
body::-webkit-scrollbar{
    display: none;
}
.main {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    width: 100%;
}
.main .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.main .head .title{
    font-size: 30px;
}
.main .head .func{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.main .head .func .status{
    align-items: center;
}
.main .head .func .type{
    align-items: center;
    column-gap: 10px;
}

.main .articleInfos{
    border: 0;
    padding: 10px 0;
}
.main .articleInfos .title{
    position: relative;
}
.main .articleInfos .title input{
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    font-size: large;
    color: var(--font-color);
    padding-right: 6rem;
    padding-bottom: 5px;
    background-color: transparent;
}
.main .articleInfos .title input:focus{
    border-bottom: 1px solid var(--border-color);
}
.main .articleInfos .title label{
    font-size: large;
    position: absolute;
    right: 5px;
    top: calc(50%);
    transform: translateY(-50%);
    color: var(--border-color);
}
.main .articleInfos .extend{
    display: flex;
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
}
.main .articleInfos .extend .fm{
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-right: 1px solid var(--border-color);
    position: relative;
}
.main .articleInfos .extend .fm:not([data-status="waiting"]) .position-center{
    display: none;
}
.main .articleInfos .extend .fm[data-status="waiting"] .position-center{
    position: absolute;
    color: white;
    background-color: #00000080;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main .articleInfos .extend .fm::before{
    content: attr(data-desc);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    color: #ccc;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
}
.main .articleInfos .extend .fm:not([data-status="normal"]):not([data-status="waiting"]):before{
    display: flex;
}
.main .articleInfos .extend .fm[data-status="normal"]:hover::before{
    display: flex;
}
.main .articleInfos .extend .fm picture img{
    width: 100%;
    height: 100%;
}
.main .articleInfos .extend .desc{
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
@media screen and (max-width: 450px) {
    .main .head .func .markdown{
        display: none;
    }
    .main .articleInfos .extend .desc .btn{
        display: none;
    }
}
#vditor{
    border: 0;
}