/* h1~h6 */
h1,h2,h3,h4,h5,h6{
    margin: 20px 0px;
}

/* markdown table */
.center[data-type='md'] table:not(.hljs-ln){
    display: block;
    max-width: 100%;
    margin: 10px auto;
    overflow: auto;
}
.center[data-type='md'] table:not(.hljs-ln) td,
.center[data-type='md'] table:not(.hljs-ln) th
{
    padding: 6px 13px;
    border: 1px solid var(--border-color);
}

.center[data-type='md'] table:not(.hljs-ln) tr:nth-child(2n)
{
    background-color: var(--table-tr-2-background);
}
/* markdown table */

table,tbody{
    color: inherit;
    white-space: inherit;
    font-size: inherit;
}
.center[data-type='md'] code:not(.hljs){
    max-width: 100% !important;
    background-color: var(--code--back-color);
    padding: 0.1em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
    background-size: 20px 20px;
    /* white-space: pre; */
    font-family: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}
.center[data-type='md'] pre{
    max-width: 100%;
    min-width: 300px;
    /* width: 700px; */
    white-space: pre;
}
.center[data-type='md'] pre code{
    border-radius: 5px;
    padding: .5em;
    white-space: pre;
}

.center[data-type='md'] pre code::-webkit-scrollbar{
    height: 5px;
}
.center[data-type='md'] pre code::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: var(--scroll-bar-color);
}
.center[data-type='md'] blockquote{
    padding: 0px 10px;
    border-radius: 0px 3px 3px 0px;
    border-left: 5px solid var(--block-left-border) !important;
    max-width: 100%;
    /* width: 100%; */
    background-color: var(--block-background-color);
}

/* 链接 */
.center[data-type='md'] a{
    display: inline-block;
    width: 100%;
}
.center[data-type='md'] .link{
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    padding: 15px 10px;
    background-color: var(--block-background-color);
    overflow: hidden;
}
.center[data-type='md'] .link .desc,
.center[data-type='md'] .link .website{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.center[data-type='md'] .link .website{
    margin-top: 10px;
    font-size: 14px;
    color: var(--border-color);
}

.center[data-type='md'] .language-math{
    display: inline-block;
    padding: 6px 2px;
    box-sizing: border-box;
    border: 2px dashed transparent;
    position: relative;
    
}
.center[data-type='md'] div[class='language-math']{
    width: 100%;
    text-align: center;
    overflow-x: auto;
}

/*.center .language-math[data-allow='1']:hover{*/
/*    color: transparent !important;*/
/*    user-select: none;*/
/*}*/
.center[data-type='md'] .language-math[data-allow='1']::after{
    content: attr(data-syntax);
    position: absolute;
    color: var(--font-color);
    display: none;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    user-select:auto;
    border: 2px dashed transparent;
    padding: 5px 5px;
    width: 80%;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
/*.center .language-math[data-allow='1']:hover::after{*/
/*    display: block;*/
/*    border: 2px dashed var(--border-color);*/
/*}*/

.center[data-type='md'] .language-math[data-allow='1']::before{
    content: attr(data-copy);
    position: absolute;
    color: black;
    display: none;
    left: calc(80% + 10px);
    padding: 2px 6px;
    border-radius: 5px;
    background-color: var(--border-color);
    top: 50%;
    transform: translateY(-50%);
}
/*.center .language-math[data-allow='1']:hover::before{*/
/*    display: block;*/
/*}*/
.center[data-type='md'] .language-math[data-allow='1'] .katex{
    display: block;
    width: 100% !important;
}
.center[data-type='md'] .language-math .katex-html{
    display: inline-block;
    width: 90% !important;
    white-space: nowrap;
}
.center[data-type='md'] .language-math[data-allow='1'] .katex::after{
    content: '';
    position: absolute;
    left: 80%;
    top: 50%;
    border: 5px;
    transform: translateY(-50%);
    border-style: solid;
    border-color: transparent var(--border-color) transparent transparent;
    display: none;
}
/*.center .language-math[data-allow='1']:hover .katex::after{*/
/*    display: block;*/
/*}*/

.center[data-type='md'] .hljs-ln{
    display: block;
    overflow: auto;
}

.center[data-type='md'] .hljs-ln-numbers{
    text-align: center;
    color: #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 10px !important;
    white-space: pre;
    display: block;
    margin-right: .2em;
}

.center[data-type='md']{
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    margin-top: 20px;
}


.center[data-type='md'] img{
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
