/** This css file for index.html  */
a{
    color: inherit;
}
.navbar{
    white-space: nowrap !important;
    border-bottom: 1px solid var(--border-color);
    background: transparent!important;
}

/* nav userInfo */
.navbar .userInfo{
    display: none !important;
}
.navbar .userInfo .user-logo{
    width: 40px;
    height: 40px;
}
.navbar .userInfo .user-logo img{
    width: 100%;
    height: 100%;
}
/* nav userInfo */

.container{
    background-color: transparent;
}
.context{
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* border: 1px solid var(--border-color); */
}
.context .NoneTxt{
    width: 100%;
    background-color: #00000040;
    text-align: center;
    padding: 170px 0;
}
.main{
    margin-top: 50px;
}

/* 文章标签样式 */
.accordion{
    width: 75%;
}
.accordion .card{
    margin: 5px 0px;
}
.accordion .card .aBody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    column-gap: 20px;
}

.accordion .card .aBody .cover{
    width: 220px;
    height: 140px;
    overflow: hidden;
    border-radius: 8px;
    display: block;
}
.accordion .card .aBody .cover img{
    width: 100% !important;
    height: 100% !important;
}
@media screen and (max-width:770px) { /*当屏幕尺寸小于1400px时，应用下面的CSS样式*/
    .accordion .card .aBody{
        flex-direction: column;
    }
    .accordion .card .aBody .cover{
        width: 60% !important;
        height: 120px;
        margin-bottom: 10px;
    }
    .accordion .card .aBody .main{
        width: 90% !important;
    }
}
@media screen and (max-width: 400px) {
    .accordion .card .aBody .main .extends .articleInfo .step:nth-child(2){
        display: none;
    }
}

.accordion .card .aBody .main{
    margin: 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}
.accordion .card .aBody .main[data-max='true']{
    width: 100%;
}
.accordion .card .aBody .main .title{
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.accordion .card .aBody .main .contextDept{
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical; /* 文本排列方向 */
    margin: 10px 0;
    height: 67px;
}
.accordion .card .aBody .main .extends{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion .card .aBody .main .extends .userinfo{
    display: flex;
    align-items: center;
    font-size: 13px;
    column-gap: 10px;
}
.accordion .card .aBody .main .extends .userinfo .username{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.accordion .card .aBody .main .extends .userinfo .logo{
    width: 30px;
    height: 30px;
}
.accordion .card .aBody .main .extends .userinfo .logo img{
    width: 100%;
    height: 100%;
}
.accordion .card .aBody .main .extends .articleInfo{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.accordion .card .aBody .main .extends .articleInfo .step{
    display: flex;
    font-size: 10px;
    align-items: center;
    column-gap: 5px;
}
.accordion .card .aBody .main .extends .articleInfo .step .svg{
    fill: var(--bs-secondary-color);
    width: 20px;
    height: 20px;
}
.accordion .card .aBody .main .extends .articleInfo .step .item{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
}
.accordion .card .aBody .main .extends .articleInfo .step:nth-child(2) .item::after{
    content: attr(data-num);
    color: var(--bs-secondary-color);
    display: inline-block;
    white-space: nowrap;
    width: 1.5rem;
}
/* 文章标签样式 */


/* rightContainer */
.rightContainer{
    width: 25%;
    margin: 5px 0 5px 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
}
/* rightContainer */
/* user */
.container-User{
    width: 100%;
    padding: 5px 2px;
}
.container-User .userInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.container-User .userInfo .user-logo{
    width: 80px;
    height: 80px;
}
.container-User .userInfo .username{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
    font-size: 20px;
}
.container-User .userInfo .user-logo img{
    width: 100%;
    height: 100%;
}

.container-User .level{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.container-User .level .level-process{
    width: 60%;
    height: 5px;
    margin: 0 10px;
}
.container-User .follower{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* padding: 20px 0; */
    margin: 20px 0;
}
.container-User .follower .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-User .follower .content .num{
    font-weight: 1000;
}

.container-User .nav{
    width: 90%;
    margin: auto;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    white-space: nowrap;
}
.container-User .nav .btn{
    color: var(--font-color);
}
.container-User .nav .btn:hover{
    background-color: var(--btn-hover-background);
}
/* user */
/* article */
.container-article{
    padding: 5px 10%;
}
.container-article a{
    width: 100%;
    margin: 1px auto;
}
.container-article .btn{
    width: 100%;
    color: var(--font-color);
}
.container-article .btn:hover{
    background-color: var(--btn-hover-background);
}
/* article */

@media screen and (max-width: 1400px) { /*当屏幕尺寸小于1400px时，应用下面的CSS样式*/
    .navbar .userInfo{
        display: inline-block !important;
    }
    .accordion{
        width: 100%;
    }
    .rightContainer{
        display: none !important;
    }
    
}