{% extends "themes/base.html" %}


{% block title%}
- {{ error.code}}
{% endblock %}

{% block body%}
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h1 style="font-size: 7.5em;margin: 15px 0px;font-weight: bold;">{{error.code}}</h1>
        <h2 style="font-weight: bold;">{{error.title}}</h2>
        <p style="font-size: 15px;white-space: nowrap;">{{error.tips}}</p>
        <a href="/"><button class="btn">返回首页</button></a>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block style %}
<style>
  html,
  body {
    height: 100%;
  }
  
  body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--font-color);
    font-size: 1em;
  }
  
  .btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    margin: 5px 0px;
    border: 1.5px solid var(--font-color);
    color: var(--font-color);
  }
  
  
  .btn:hover {
    border: 1.5px solid var(--font-color);
    color: var(--hover-color);
    background-color: var(--hover-background);
  }
  
  @media screen and (max-width: 768px) {
    body {
      display: block;
    }
  
    .container {
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }
  </style>
{% endblock %}