{% extends "themes/base.html" %}
{% block extends %}
    <link rel="stylesheet" href="{{ url_for('themes.static',path='Vditor/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('themes.static',path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('themes.static',path='css/article/create.css') }}">
    <script src="{{ url_for('themes.static',path='Vditor/index.min.js') }}"></script>
    <script src="{{ url_for('themes.static',path='js/article/create.js') }}"></script>
{% endblock %}
{% block title %}
 - 在线 markdown 编辑器
{% endblock %}
{% block hscript %}
<script>
    window.csrf_token = "{{ csrf_token() }}"
    window.upload = {
        editor: "{{ url_for('server.upload') }}",
        cover: "{{ url_for('server.cover') }}",
        save: "{{ url_for('server.save') }}"
    }
    window.user = {
        username: "{{ user.username }}",
        logo: "{{ url_for('server.logo',id=user.id) }}"
    }
    window.article = {
        id: "{{ article.id }}"
    }
</script>
{% endblock %}
{% block body %}
    <div id="ready" hidden>{{article.context}}</div>
    <div class="container-fluid main card">
        <div class="container">
            <form class="SubmitForm">
                <div class="head">
                    <div class="title">发布文章</div>
                    <div class="func">
                        <div class="markdown small text-muted noselect" title="markdown 语法可用" data-bs-toggle="tooltip">
                            markdown 语法已启用
                        </div>
                        <div class="status d-flex">
                            <span class="name small text-muted noselect">状态:&nbsp;</span>
                            <span class="small text-muted noselect">
                                {{ ArticleStatus.Desc[article.status]['name'] }}
                            </span>
                            <span class="icon spinner spinner-{{ ArticleStatus.Desc[article.status]['color'] }}"></span>
                        </div>
                            <div class="type d-flex">
                                <input type="hidden" value="{{ csrf_token() }}" name="csrf_token" />
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown">
                                      操 作
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="{{ url_for('server.create') }}">新建草稿</a></li>
                                      {% if user.permission < Permission.CONTROL %}
                                      <li><a class="dropdown-item" href="#" onclick="save({{ ArticleStatus.WAIT }})">发布文章</a></li>
                                      {% else %}
                                      <li><a class="dropdown-item" href="#" onclick="save({{ ArticleStatus.NORMAL }})">发布文章</a></li>
                                      {% endif %}
                                      <li><a class="dropdown-item" href="#" onclick="save({{ ArticleStatus.PRIVATE }})">仅我可见</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="articleInfos card container">
                    <div class="title">
                        <div class="input-group mt-3 mb-3">
                            <select class="formselect" id="ArtType" name="typeId">
                                {% if ArticleType | length == 0 %}
                                    <option value="0">无文章类型选项</option>
                                {% else %}
                                    {% for type in  ArticleType %}
                                        <option value="{{ type.id }}">{{type.typeName}}</option>
                                    {% endfor %}
                                {% endif %}
                                
                            </select>
                            <input id="title" class="form-control"  type="text" placeholder="在这里输入文章标题" name="title" oninput="titleCount()" value="{{ article.title }}">
                        </div>
                        <label for="title">
                            {{article.title | length}}/100
                        </label>
                    </div>
                    <div class="extend">
                        <div class="fm" data-status="normal" data-desc="设置封面" onclick="setCover()">
                            <div class="position-center">--bs-body-bg
                                <span class="spinner-border spinner-border-sm"></span>上传中
                            </div>                    
                            <input id="cover" class="hidden" type="file" accept="image/*" name="file" value="">
                            <picture>
                                {% if article.cover %}
                                <img src="{{ url_for('themes.upload',path=article.cover) }}" alt="">
                                {% else %}
                                <img src="{{ url_for('themes.static',path='/img/default.png') }}" alt="">
                                {% endif %}
                            </picture>   
                        </div>
                        <div class="desc">
                            <div class="txt">
                                <div class="main">设置文章封面图片</div>
                                <div class="second small text-muted noselect">图片要求: JPG、PNG</div>
                            </div>
                            <div class="btn btn-secondary" onclick="setCover()">
                                上传封面
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- ^Vditor -->
        <div id="vditor"></div>
    </div>
{% endblock %}
</html>