{% extends "themes/md.html" %}
{% block extends %}
<script src="{{ url_for('themes.static',path='js/article/detail.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('themes.static',path='css/article/detail.css') }}">
{% endblock %}

{% block title %}
 - {{ article.title }}
{% endblock %}

{% block hscript %}

{% endblock %}
{% block navListExtends%}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.userInfo') }}" target="_blank">个人中心</a>
</li>
{% endblock %}
{% block body %}
{% if tips.enable %}
<div class="bottomtips tips-{{tips.type}}">
    {{ tips.context }}
</div>
{% endif %}
<div class="container main">
    <!-- 内容 -->
    <div class="context" >
        <div class="accordion">
            <div class="card">
                <div class="infos">
                    <div class="Atitle" title="{{ article.title }}" data-bs-toggle="tooltip">
                        {{ article.title }}
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <div class="usericon">
                                <a href="{{ url_for('auth.userInfo',id=user.id) }}" target="_blank">
                                    <img src="{{ url_for('server.logo',id=user.id) }}" alt="">
                                </a>
                            </div>
                            <div class="username">
                                <a href="{{ url_for('auth.userInfo',id=user.id) }}" target="_blank">
                                    {{ user.username }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center" data-type="md">{{ article.context }}</div>
                <div class="cardBottom">
                    <div class="time text-muted">
                        编辑于 {{ article.lastTime.date() }}
                    </div>
                    <div class="func text-muted">
                        <div class="agree item" data-nums="{{ article.agree.all() | length | toLocalNumber }}">
                            <i class="far fa-arrow-alt-to-top"></i>
                            <span class="svg agree">
                                {{ getIcon('agree') | safe}}
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="rightContainer card">
            <div class="outlineRender"></div>
        </div>
    </div>
    <!-- 内容 -->
    

</div>

{% endblock %}
