<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Vditor3.9.0/index.css">
    <script src="../static/Vditor3.9.0/index.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="vditor" style="margin: 100px auto 0 auto;"></div>
</body>
<script>
    var vditor = new Vditor("vditor", {
        cache: {
          enable: true
        },
        width: 1000,
        height: 1000,
        
        tab: '  ',
        cdn: '../static/Vditor3.9.0',
        // 初始化的内容
        // toolbar: ['emoji', 'br', 'bold', '|', 'line','help'],
        counter: {
            enable: true
        },
        // *主题设置
        theme:'',
        preview:{
            theme:{
                current:''
            },
            hljs:{
                enable:true,
                style:'emacs',  //emacs, dark:native
                lineNumber: true
            },
            math:{
                inlineDigit: true
            },

        },
        upload:{
            url: '/uploaded',
            success: function(e){
                console.log('success',e);
            },
            error: function(e){
                console.log('error',{e});
            }
        },
        after(){
            console.log(vditor.getHTML())
        }
      });
</script>
</html>