<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Vditor3.9.0/index.css">
    <script src="../static/Vditor3.9.0/index.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="vditor" style="margin: 100px auto 0 auto;"></div>
</body>
<script>
    var vditor = new Vditor("vditor", {
        cache: {
          enable: true
        },
        width: 1000,
        height: 1000,
        tab: '  ',
        cdn: '/static/Vditor3.9.0',
        // 初始化的内容
        // toolbar: ['emoji', 'br', 'bold', '|', 'line','help'],
        counter: {
            enable: true
        },
        // *主题设置
        theme:'',
        preview:{
            hljs:{
                enable:true,
                style:'emacs',  //emacs, dark:native
                lineNumber: true
            },
            math:{
                inlineDigit: true
            },

        },
        upload:{
            url: '/upload',
            accept: 'image/*',
            filename:function(name){
                console.log({name})
            },  
            success: function(e,res){
                console.log('success',res);
            },
            error: function(e){
                console.log('error',{e});
            }
        },
        after(){
            // console.log(vditor.getHTML())
        },
        hint:{
            extend:[
                {
                    key: "@",
                    hint: (key)=>{
                        return [
                            {
                                value: '@Author: C4skg',
                                html: '<img src="https://static.c4skg.top/c4skg/logo.jpg"/> C4skg'
                            }
                        ]
                    }
                }
            ]
        }
      });
</script>
</html>