<!DOCTYPE html>
<html lang="en" data-user-color-scheme="a">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/highlight/highlight.min.js"></script>
    <script src="../static/js/globalFunc.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap_5.3/bootstrap.min.css">
    <link rel="stylesheet" href="../static/highlight/styles/github-dark.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script>
        hljs.highlightAll();
    </script>
    <title>Document</title>
</head>
<body>
    <div class="container-sm p-5" id="login-container" data-dark-change="true">
        <h1>
            Hi!
        </h1>
        <P>欢迎使用 <kbd><code>QickTools</code></kbd></P>
        <div class="btn modeButton change">
            <i class="fa fa-lg fa-sun-o fa-moon-o" aria-hidden="true"></i>
        </div>
        <form>
            <div class="mb-3 mt-3">
              <label for="user" class="form-label">用户名:</label>
              <input type="user" class="form-control" id="user" placeholder="用户名" name="user">
            </div>
            <div class="mb-3">
              <label for="pwd" class="form-label">密码：</label>
              <input type="password" class="form-control" id="pwd" placeholder="密码" name="pwd">
            </div>
            <button type="button" class="container btn btn-primary mt-auto">登录
                <!-- <span class="spinner-border spinner-border-sm"></span> -->
            </button>
        </form>
    </div>
</body>
<style>
    *{
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
    #login-container{
        max-width: 500px;
        position: relative;
        /* left: 50%; */
        top: 25%;
        /* transform: translate(-50%,-50%); */
        background: transparent!important;
        box-shadow: 0px 0px 5px #888888;
    }
    .modeButton{
        position: absolute;
        right: 0;
        top: 0;
    }
    .hidden{
        display: none!important;
    }
</style>
<script src="static/js/jquery-3.6.3.min.js"></script>
<script src="static/js/bootstrap_5.3/bootstrap.min.js"></script>
<script src="../static/js/index.js"></script>
</html>