<!DOCTYPE html>
<html lang="en" data-user-color-scheme="a">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/jquery-3.6.3.min.js"></script>
    <script src="../static/js/highlight/highlight.min.js"></script>
    <script src="../static/js/sweetalert.min.js"></script>
    <script src="../static/js/bootstrap_5.3/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap_5.3/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap_5.3/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/highlight/github-dark.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script>
        hljs.highlightAll();
    </script>
    <title>Document</title>
</head>
<body>
    <div class="container-sm p-5" id="login-container" data-dark-change="color;back">
        <h1>
            Hi!
        </h1>
        <P>欢迎使用 <kbd><code>QickTools</code></kbd></P>
        <div class="btn modeButton change">
            <i class="fa fa-lg fa-sun-o fa-moon-o" aria-hidden="true"></i>
        </div>
        <form id="login-form" class="was-validated">
            <div class="mb-3 mt-3">
                <label for="uname" class="form-label">用户名：</label>
                <input type="text" class="form-control" id="uname" placeholder="请输入用户名" name="username" required>
                <div class="valid-feedback">有效的。</div>
                <div class="invalid-feedback">请填写此字段。</div>
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">密码：</label>
                <input type="password" class="form-control" id="pwd" placeholder="请输入密码" name="password" required>
                <div class="valid-feedback">有效的。</div>
                <div class="invalid-feedback">请填写此字段。</div>
            </div>
            <button id="login_button" type="button" class="container btn btn-primary mt-auto">登录
                <!-- <span class="spinner-border spinner-border-sm"></span> -->
            </button>
        </form>
    </div>
</body>
<style>
    #login-container{
        max-width: 500px;
        position: relative;
        /* left: 50%; */
        top: 25%;
        /* transform: translate(-50%,-50%); */
        background: transparent!important;
        box-shadow: 0px 0px 5px #888;
    }
    .modeButton{
        position: absolute;
        right: 0;
        top: 0;
    }
    .hidden{
        display: none!important;
    }
</style>
<script src="../static/js/index.js"></script>
<script>
    var button = $('#login_button');
    var form = $('#login-form');
    button.click(function(){
        button.append('<span class="spinner-border spinner-border-sm"></span>');
        button.attr('disabled','1');
        setTimeout(()=>{
            $.ajax({
                url: '/api',
                type:'post',
                data: form.serialize(),
                success:(e)=>{
                    if(e['loginStatus']){
                        swal("登录成功","点击跳转", "success").then((e)=>{
                            window.location = '/';
                        })
                    }else{
                        swal("登录失败","用户名或密码错误", "warning");
                    }
                },
                error:(e)=>{
                    swal("登录失败","服务器错误", "warning");
                },
                complete:(e)=>{
                    button.children('span').remove();
                    button.removeAttr('disabled');
                }
            })
        },~~(Math.random()*5)*100);
    })
</script>
</html>