{% extends "themes/md.html" %}

{% block title %}
-关于
{% endblock %}

{% block navListExtends%}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.userInfo') }}" target="_blank">个人中心</a>
</li>
{% endblock %}

{% block body%}
<div class="container main">
<!-- 内容 -->
<div class="context" >
    {% if context|length == 0 %}
    <div class="NoneTxt">
        <p class="h1">Nothing here~</p>
    </div>
    {% else %}
    <div class="accordion">
        <div class="card">
            <div class="p-2">
                <!-- *公告 -->
                <div class="d-flex justify-content-center">
                    <div class="text-overflow button link" style="font-size: 25px;color: var(--font-color);">
                        {{ title }}
                    </div>
                </div>
                <!-- *公告 -->

                <!-- *公告内容 -->
                <div class="notice">                            
                    <div class="center" data-type="md">{{ context }}</div>
                </div>
                <!-- *公告内容 -->
            </div>
        </div>
    {% endif %}
</div>
<!-- 内容 -->

</div>
{% endblock %}


{% block style %}
<style>
    .navbar{
        border-bottom: 1px solid var(--border-color);
        background: transparent!important;
    }
    .container{
        background-color: transparent;
    }
    .context{
        margin-top: 10px;
        border-radius: 5px;
        /* border: 1px solid var(--border-color); */
        justify-content: center;
    }
    .main{
        margin-top: 50px;
    }
    .devTools{
        text-align: right;
    }
    .NoneTxt{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        background-color: #00000020;
    }
    /* 文章标签样式 */
    
    .accordion .card{
        margin: 5px 0px;
    }
    .accordion .title{
        font-size: 20px;
    }
    .accordion .title:hover{
        text-decoration: underline;
    }
    .accordion .collapse{
        border-top: 1px solid var(--border-color);
    }
    .accordion .card .actions{
        margin-top: 30px;
    }
    .accordion .card .actions .function .vote button{
        color: rgba(5,109,232);
        background-color: rgba(5,109,232,.1);
    }
    .accordion .card .actions .function .vote button[--is-activate]{
        color: white;
        background-color: #056de8;
    }
    .accordion .card .about{
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    /* 文章标签样式 */

    /* 公告标签样式 */
    .notice{
        padding: 0 5%;
    }
</style>
{% endblock %}