{% extends "themes/md.html" %}

{% block extends %}
{% endblock %}

{% block navExtends%}
<a href="{{ url_for('auth.userInfo',id=user.id) }}" target="_blank">
    <div class="userInfo d-flex btn btn-sm">
        <div class="user-logo">
            <img src="{{ url_for('server.logo',id=user.id) }}" class="rounded-circle" alt="">
        </div>
    </div>
</a>
{% endblock %}

{% block body %}
<div class="container main">
    <!-- 内容 -->
    <div class="context" >
        {% if context|length == 0 %}
        <div class="NoneTxt">
            <p class="h1">Nothing here~</p>
        </div>
        {% else %}
        <div class="accordion">
            {% for name,e in context.items() %}
            <div class="card" data-list-type="{{e.type}}" data-level="{{e.level}}">
                <div class="p-2">
                    <div class="d-flex justify-content-between">
                        {% if e.type == 'article' %}
                        <div class="text-overflow button title"  data-bs-toggle="collapse" href="#{{name}}">{{name}}</div>
                        {% endif %}
                    </div>
                    {% if e.type == 'notice' %}
                    <!-- *公告 -->
                    <div class="d-flex justify-content-around">
                        <div class="text-overflow button link" style="font-size: 25px;color: var(--font-color);">
                            {{name}}
                        </div>
                    </div>
                    <!-- *公告 -->
                    {% endif %}
                    
                    {% if e.type == 'article' %}
                    <div class="d-flex justify-content-between actions">
                        <!-- !author -->
                        <div class="about">
                            <span class="author">{{e.author}}</span>
                            <span class="slash">&nbsp;·&nbsp;</span>
                            <span class="time">{{e.time}}</span>
                        </div>
                        <!-- !功能 - 文章-->
                        <div class="function">
                            <div class="vote">
                                <div class="btn-group dropup">
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-sm"></button>
                                    <button type="button" class="btn btn-sm" data-bs-toggle="tooltip" title="点赞数">1000k</button>
                                </div>
                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-sm"></button>
                            </div>
                        </div>
                        <!-- !功能 - 文章-->
                    </div>
                    {% endif %}

                    <!-- *公告内容 -->
                    {% if e.type == 'notice' %}
                    <div class="notice">                            
                        <div class="center" data-type="md">{{e.context}}</div>
                    </div>

                    <div class="releaseTime">
                        <span>发布人: {{e.author}}</span>
                        <span>发布时间: {{e.time}}</span>
                    </div>
                    {% endif %}

                    <!-- 时间 -->
                    
                    <!-- *公告内容 -->



                </div>
                {% if e.type == 'article'%}
                <div id="{{name}}" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">                            
                        <div class="center" data-type="md">{{e.readme}}</div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- 内容 -->
    <!--* 用户信息 -->
    <div class="rightContainer">
        <div class="container-User card">
            <div class="userInfo">
                <a href="{{ url_for('auth.userInfo',id=user.id) }}" target="_blank">
                    <div class="user-logo">
                        <img src="{{ url_for('server.logo',id=user.id) }}" class="rounded-circle" alt="">
                    </div>
                </a>
                <div class="username">{{ user.username }}</div>
            </div>
            <div class="level">
                <div class="level-now">Lv.{{ level.now }}</div>
                <div class="level-process progress" title="{{level.value}}/{{level.nextV}}" data-bs-toggle="tooltip">
                    <div class="progress-bar" style="width: {{level.length}}%"></div>
                </div>
                <div class="level-next">Lv.{{ level.now+1 }}</div>
            </div>
            <div class="follower">
                <div class="follower-num content">
                    <span class="num">{{ user.followers | length }}</span><span class="type">粉丝</span>
                </div>
                <div class="followed-num content">
                    <span class="num">{{ user.followTarget | length }}</span><span class="type">关注</span>
                </div>
                <div class="article-num content">
                    <span class="num">{{ user.article.filter_by(status=ArticleStatus.NORMAL).all() | length }}</span><span class="type">文章</span>
                </div>
            </div>
            <div class="nav">
                <a href="{{ url_for('auth.attend') }}" target="_blank"><div class="btn">每日签到</div></a>
                <a href="{{ url_for('auth.userInfo',id=user.id) }}" target="_blank"><div class="btn">个人中心</div></a>
                <a href="{{ url_for('server.logout') }}"><div class="btn">退出登录</div></a>
            </div>
        </div>
        <div class="container-article card">
            <a href="{{ url_for('server.create') }}" target="_blank"><div class="btn">🎉️ 灵感爆发</div></a>
            <span class="line" ></span>
            <a href="#" target="_blank"><div class="btn">🚀️ 创作中心</div></a>
        </div>
    </div>


    <!--* 用户信息 -->
</div>
{% endblock %}