{% extends "themes/base.html" %}
{% block style %}
<style>
    .center{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .center .h1{
        font-size: 30px;
        font-weight: 500;
        color: var(--font-color);
    }
</style>
{% endblock %}
{% block script%}
<script>
    {% if status == 'success' %}
        swal("Success","{{ message }}", "{{ status }}").then(()=>{
            window.location = "{{ route }}"
        })
    {% else %}
        swal("Faild","{{ message }}", "{{ status }}").then(()=>{
            window.location = "{{ route }}"
        })
    {% endif %}
</script>
{% endblock%}
</html>